html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

/* The font I used for the mockup is not a google font so I had to use a different font here which is a google font */
h1 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Fasthand', cursive;
}

/* Adding styles to menu items and logo. Starting from mobile view so adding display block to show menu verticaly */
.logo-img {
    /* width: 70px; */
    height: 90px;
    margin-left: 40px;
    margin-top: 20px;
}

.navigation .logo-img {
    margin-left: 20px;
}

.navigation a:hover {
    text-decoration: underline;
    color: #BD2FD9;
  }

nav ul {
    display: block;
    list-style-type: none;
    text-align: left;
}

.navigation a {
    text-decoration: none;
    line-height: 50px;
    color: black;
    font-weight: 600;
}
.header-section {
    position: relative;
    text-align: left;
}

/* Aligning header text to the image */
.overlay {
    position: absolute;
    top: 8%;
    left: 8%;
    /* transform: translate(-50%, -50%); */
}

img {
    max-width: 100%;
    /* height: auto; */
}

.overlay h1{
    margin-bottom: 0;
    font-size: 40px;
    font-style: italic;
}

.overlay h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

.overlay h4{
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 0;
}

.order-button {
    background-color: #84C32D;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.order-button a {
    color: white;
    text-decoration: none;
}

.order-button:hover {
    background: #BD2FD9;
}

.products h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.products h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

p {
    text-align: center;
    margin-top: 10px;
    /* padding-bottom: 30px; */
}

.icecream {
    background-color: #F5FFE8;
    margin-bottom: 30px;
}

.products h2 {
    text-align: center;
}

.products i {
    font-size: 20px;
    color: white;
    background-color: #BD2FD9;
    padding: 12px;
    border-radius: 60px;
}

.products {
    text-align: center;
}

.icecream {
    background-color: #EEFFD8;
    margin: 10px;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 15px;
}

.Sundae {
    background-color: #EEFFD8;
    margin: 10px;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 15px;
}

.milkshake {
    background-color: #EEFFD8;
    margin: 10px;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 15px;
}

/* Adding styles to products page mobile view */
.product-order h1 {
    text-align: center;
    margin-top: 0;
}

.product-order h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
}

.product-order p {
    text-align: center;
    margin-bottom: 40px;
}

.grid .icecream {
    text-align: center;
}

.grid .Sundae {
    text-align: center;
}

.grid .milkshake {
    text-align: center;
}

.grid .yougurt {
    text-align: center;
    background-color: #EEFFD8;
    margin: 10px;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 15px;
}

.grid .popsicle {
    text-align: center;
    background-color: #EEFFD8;
    margin: 10px;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 15px;
}

.grid .donuts {
    text-align: center;
    background-color: #EEFFD8;
    margin: 10px;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 15px;
}

.grid .order-button {
    color: white;
}

.fa-arrow-right:hover {
    background: #84C32D;
}

.why {
    padding: 50px;
}

.tradition {
    padding: 50px;
}

.why-choose {
    background-color: #FCF4FF;
    margin-bottom: 30px;
}

.why-choose-button {
    background-color: #84C32D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.why-choose-button a {
    color: white;
    text-decoration: none;
}

.why-choose-button:hover {
    background: #BD2FD9;
}

.why img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tradition img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.customers {
    padding: 30px 50px 0px 50px;
}

.elijah {
    padding-top: 35px;
    padding-bottom: 20px;
}

.sofia {
    padding-top: 30px;
    padding-bottom: 20px;
}

.author {
    font-style: italic;
    font-weight: 600;
    color: #BD2FD9;
}

.testimonials-button {
    background-color: #84C32D;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 0px 45px 0px;
    cursor: pointer;
    border-radius: 50px;
}

.testimonials-button a {
    color: white;
    text-decoration: none;
}

.testimonials-button:hover {
    background: #BD2FD9;
}

.newsletter input {
    height: 100%;
    width: 450px;
    padding: 16px;
    padding-left: 30px;
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid rgb(209, 209, 209);
    background-color: white;
}

.newsletter button {
    position: absolute;
    width: 170px;
    right: 80px;
    padding: 17px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #84C32D;
    background-color: #84C32D;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.newsletter button:hover {
    background: #BD2FD9;
    border: 2px solid #BD2FD9;
}

.subscribe {
    background-color: #FCF4FF;
    padding: 50px;
    text-align: center;
}

.subscribe h1 {
    margin: 0;
    padding-bottom: 30px;
}

.subscribe h2 {
    margin: 0;
    padding: 0;
}

hr.solid {
    border-top: 1px solid #bbb;
    margin: 0;
  }

footer {
    background-color: #FCF4FF;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
}

footer p {
    text-align: center;
    padding-top: 30px;
}
/* Adding styles to products and contact page footers by giving the footer a different class */
.footer-line footer {
    background-color: white;
}

.footer-line p {
    background-color: white;
}

.fa {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    width: 35px;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
    width: 35px;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    width: 35px;
  }




/* Desktop view css starts here. Adding media querie to add styles for minimum width of 760px and over */
@media screen and (min-width:760px) {

    .navigation .logo-img {
        margin-left: 50px;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 15px;
        margin-right: 70px;
        flex-wrap: wrap;
    }

    .logo-img {
        margin-bottom: 15px;
    }

    .navigation ul li {
        display: inline-block;
        padding: 5px 25px;
    }

    .atags li:nth-child(5) {
        background-color: wheat;
        border-radius: 30px;
    }

    .atags li:nth-child(5):hover {
        color: #3B5998;
    }

    .overlay {
        position: absolute;
        top: 20%;
        left: 10%;
        /* transform: translate(-50%, -50%); */
    }

    .overlay h1 {
        font-size: 60px;
    }

    .overlay h2 {
        font-size: 40px;
    }

    .overlay h4 {
        font-size: 40px;
    }
/* Using grid property to structure products section and flex property to style inside of the three columns */
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 100px;
        margin-right: 100px;
    }

    .grid img {
        width: 6rem;
        align-self: center;
    }

    .products-header {
        margin-bottom: 30px;
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .products-header h3 {
        margin-top: 50px;
    }

    .icecream {
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .sundae {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .milkshake {
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .fa-arrow-right {
        margin-top: auto;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }
    /* aligning arrow icons to bottom of the flex box */
    .grid p {
        flex:1
    }

/* Using grid for this section to add styles accordingly */
    .why-choose {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .why {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: 80px;
        margin-right: 80px;
    }

    .tradition {
        grid-column-start: 1;
        grid-column-end: 4;
        margin-left: 80px;
        margin-right: 80px;
    }

/* Using float to align image and text */
    .why-choose-img {
        float: right;
        padding-top: 20px;
        margin-left: 30px;
        width: 450px;
    }

    .why h3 {
        text-align: center;
    }

    .why h1 {
        text-align: center;
    }

    .why p {
        text-align: left;
        margin-top: 40px;
    }

    .read-more {
        float: left;
    }

    .how-its-made {
        float: left;
        padding-top: 20px;
        margin-right: 30px;
        width: 450px;
    }

    .tradition h3 {
        text-align: center;
    }

    .tradition h1 {
        text-align: center;
    }

    .tradition p {
        text-align: right;
        margin-top: 40px;
    }

    .read-more-two {
        float: right;
    }

    .customers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        clear: both;
    }

    .customer-header {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .customer-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 25px;
        display: flex;
        flex-direction: column;
    }

    .customer-2 {
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 25px;
        display: flex;
        flex-direction: column;
    }

    .sofia {
        width: 10rem;
        align-self: center;
        /* align-items: flex-start; */
    }

    .elijah {
        width: 10rem;
        align-self: center;
        /* align-items: flex-start; */
    }

    .newsletter input {
        height: 100%;
        width: 600px;
        padding: 16px;
        padding-left: 35px;
    }

    .newsletter button {
        position: absolute;
        right: 400px;
    }
    .hr {
        margin-bottom: 90px;
    }

    .fa {
        float: right;
        margin-top: 15px;
    }

    footer {
        padding-top: 30px;
        text-align: left;
        padding-bottom: 70px;
        padding-right: 40px;
        background-color: #FCF4FF;
    }
    
    footer p {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 25px;
        padding-left: 40px;
        float: left;
        background-color: #FCF4FF;
    }

    /* adding styles to products page */
    .icecream{
        align-items: center;
        flex-wrap: wrap;
    }

    .flex{
        align-items: center;
        flex-wrap: wrap;
    }
 
    .milkshake{
        align-items: center;
        flex-wrap: wrap;
    }

    .yougurt {
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #EEFFD8;
        border-radius: 15px;
        margin: 10px;
        margin-bottom: 30px;
        padding: 50px;
        align-items: center;
    }

    .popsicle {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #EEFFD8;
        border-radius: 15px;
        margin: 10px;
        margin-bottom: 30px;
        padding: 50px;
        align-items: center;
    }

    .donuts {
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #EEFFD8;
        border-radius: 15px;
        margin: 10px;
        margin-bottom: 30px;
        padding: 50px;
        align-items: center;
    }

    .product-order {
        align-self: center;
    }

    .product-order h3 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .product-order h1 {
        margin-top: 0;
        
    }
    .grid  {
        text-align: center;
    }
    /* aligning order button to bottom of the flex box */
    .order-button {
        color: white;
        margin-top: auto;
    }

    .footer-line footer {
        background-color: white;
    }

    .footer-line p {
        background-color: white;
    }







}