html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

/* The font I used for the mockup is not a google font so I had to use a different font here which is a google font */
h1 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Fasthand', cursive;
}

/* Adding styles to menu items and logo. Starting from mobile view so adding display block to show menu verticaly */
.logo-img {
    height: 90px;
    margin-left: 40px;
    margin-top: 20px;
}
.logo {
    text-align: center;
}

/* giving a tags a hover style*/
.navigation a:hover {
    color: #BD2FD9;
  }

nav ul {
    display: block;
    list-style-type: none;
    text-align: center;
}

/* .navigation {
    box-shadow: 0 5px 6px -6px #999;
} */

.navigation a {
    text-decoration: none;
    line-height: 50px;
    color: black;
    font-weight: 600;
}

.header-section {
    position: relative;
    text-align: left;
}

/* Aligning header text to the image */
.overlay {
    position: absolute;
    top: 8%;
    left: 8%;
    /* transform: translate(-50%, -50%); */
}

img {
    max-width: 100%;
    /* height: auto; */
}

.overlay h1{
    margin-bottom: 0;
    font-size: 40px;
    font-style: italic;
}

.overlay h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

.overlay h4{
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 0;
}

.order-button {
    background-color: #84C32D;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 50px; 

    /* Giving button a transition to make the animation smooth */
    /* transition: 0.5s; */
}

.order-button a {
    color: white;
    text-decoration: none;
}

/* Giving the order button an animation of scale */
.order-button:hover {
    background: #BD2FD9;
}

.products h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.products h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

p {
    text-align: center;
    margin-top: 10px;
    /* padding-bottom: 30px; */
}

.icecream {
    background-color: #F5FFE8;
    margin-bottom: 30px;
}

.products h2 {
    text-align: center;
}

.products i {
    font-size: 20px;
    color: white;
    background-color: #BD2FD9;
    padding: 12px;
    border-radius: 60px;
}

.products {
    text-align: center;
}

.icecream {
    background-color: #EEFFD8;
    margin: 10px;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 15px;
}

.Sundae {
    background-color: #EEFFD8;
    margin: 10px;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 15px;
}

.milkshake {
    background-color: #EEFFD8;
    margin: 10px;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 15px;
}

/* Adding styles to products page mobile view */
.product-order h1 {
    text-align: center;
    margin-top: 0;
}

.product-order h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
}

.product-order p {
    text-align: center;
    margin-bottom: 40px;
}

.grid .icecream {
    text-align: center;
}

.grid .Sundae {
    text-align: center;
}

.grid .milkshake {
    text-align: center;
}

.grid .yougurt {
    text-align: center;
    background-color: #EEFFD8;
    margin: 10px;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 15px;
}

.grid .popsicle {
    text-align: center;
    background-color: #EEFFD8;
    margin: 10px;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 15px;
}

.grid .donuts {
    text-align: center;
    background-color: #EEFFD8;
    margin: 10px;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 15px;
}

.grid .order-button {
    color: white;
}

/* Adding animation to products buttons*/
.fa-arrow-right {
    transition: 0.5s;
}

.fa-arrow-right:hover {
    background: #84C32D;
    transform: scale(1.1);
}

.why {
    padding: 50px;
}

.tradition {
    padding: 50px;
}

.why-choose {
    background-color: #FCF4FF;
    margin-bottom: 30px;
}

.why-choose-button {
    background-color: #84C32D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
     /* Giving button a transition to make the animation smooth */
    transition: 0.5s;
}

.why-choose-button a {
    color: white;
    text-decoration: none;
}

/* Adding animation to why choose section buttons*/
.why-choose-button:hover {
    background: #BD2FD9;
    transform: scale(1.1);
}

.why img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tradition img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.customers {
    padding: 30px 50px 0px 50px;
}

.elijah {
    padding-top: 35px;
    padding-bottom: 20px;
}

.sofia {
    padding-top: 30px;
    padding-bottom: 20px;
}

.author {
    font-style: italic;
    font-weight: 600;
    color: #BD2FD9;
}

.testimonials-button {
    background-color: #84C32D;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 0px 45px 0px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
}

.testimonials-button a {
    color: white;
    text-decoration: none;
}

/* Adding animation to testimonials section button*/
.testimonials-button:hover {
    background: #BD2FD9;
    transform: scale(1.1); 
}

.newsletter input {
    height: 100%;
    width: 450px;
    padding: 16px;
    padding-left: 30px;
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid rgb(209, 209, 209);
    background-color: white;
}

.newsletter button {
    position: absolute;
    width: 170px;
    right: 80px;
    padding: 17px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #84C32D;
    background-color: #84C32D;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.newsletter button:hover {
    background: #BD2FD9;
    border: 2px solid #BD2FD9;
}

.subscribe {
    background-color: #FCF4FF;
    padding: 50px;
    text-align: center;
}

.subscribe h1 {
    margin: 0;
    padding-bottom: 30px;
}

.subscribe h2 {
    margin: 0;
    padding: 0;
}

hr.solid {
    border-top: 1px solid #bbb;
    margin: 0;
}

footer {
    background-color: #FCF4FF;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 20px;
}

footer p {
    text-align: center;
    padding-top: 30px;
}
/* Adding styles to products and contact page footers by giving the footer a different class */
.footer-line footer {
    background-color: white;
}

.footer-line p {
    background-color: white;
}

/* styling social media icons on the footer */
.fa {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
    width: 35px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    width: 35px;
}
  
.fa-instagram {
    background: #125688;
    color: white;
    width: 35px;
}

/* adding styles to the form input, textarea and button in contact page,  */
.form input[type=text], select {
    width: 100%;
    padding: 12px;
    box-sizing:border-box;
    line-height: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family:'Poppins', sans-serif;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    box-sizing:border-box;
    margin-top: 12px;
    resize: vertical;
    font-family:'Poppins', sans-serif;
}
    
input[type=submit] {
    background-color: #84C32D;
    font-size: 16px;
    margin: 15px 2px 40px 0px;
    color: white;
    padding: 15px 32px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family:'Poppins', sans-serif;
    transition: 0.5s;
}

input[type=submit]:hover {
    background: #BD2FD9;
    transform: scale(1.1);
}

.form {
    margin-left: 50px;
    margin-right: 50px;
}

/* Adding styles to contact page more info section */
.more-info {
    margin-left: 50px;
    margin-right: 50px;
}

.more-info h2 {
    text-align: left;
    padding-left: 35px;
}

.more-info ul li {
    list-style-type: none;
    padding-bottom: 10px;
}

.address {
    background-color: #FCF4FF;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 35px;
}
.hours {
    background-color: #FCF4FF;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 35px;
}

.more-info p {
    text-align: center;
    margin-bottom: 0;
}

.phone {
    margin-bottom: 35px;
    background-color: #FCF4FF;
    border-radius: 10px;
    padding: 25px;
}

/* adding styles to skip links and hiding it from the page */
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}
.skip-links a {
    position: absolute;
    top: -3em;
    background-color: black;
    color: white;
    padding: .5em 1em;
    font-weight: bold;
}

.skip-links a:focus {
    top: 0;
}
/* Adding animation to buttons in produts page */
.order {
    transition: 0.5s;
}

.order:hover {
    transform: scale(1.1); 
}


/* ---------------------------------------------------------------------------------------------
Desktop view css starts here. Adding media querie to add styles for minimum width of 760px and over */

@media screen and (min-width:760px) {

    .navigation .logo-img {
        margin-left: 70px;
    }
    .atags {
        margin-right: 40px;
    }

    /* Adding styles to navigation and giving it a box shadow when directed to products and contact page */
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        box-shadow: 0 5px 6px -6px #999;
    }

    .logo-img {
        margin-bottom: 15px;
    }

    .navigation ul li {
        display: inline-block;
        padding: 5px 25px;
    }
    /* Adding styles to button active state */
    .active {
        background-color: wheat;
        border-radius: 30px;
        padding: 15px 25px 15px 25px;
    }

    .overlay .order-button {
        margin-top: 25px;
    }

    .overlay {
        position: absolute;
        top: 20%;
        left: 10%;
    }

    .overlay h1 {
        font-size: 60px;
    }

    .overlay h2 {
        font-size: 40px;
    }

    .overlay h4 {
        font-size: 40px;
    }

/* Using grid property to structure products section and flex property to style inside of the three columns */
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 100px;
        margin-right: 100px;
    }

    .grid img {
        width: 6rem;
        align-self: center;
    }

    .products-header {
        margin-bottom: 30px;
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .products-header h3 {
        margin-top: 50px;
    }

    .icecream {
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .sundae {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .milkshake {
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .fa-arrow-right {
        margin-top: auto;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    /* aligning arrow icons to bottom of the flex box */
    .grid p {
        flex:1
    }

    /* Using grid for this section to add styles accordingly */
    .why-choose {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .why {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: 80px;
        margin-right: 80px;
    }

    .tradition {
        grid-column-start: 1;
        grid-column-end: 4;
        margin-left: 80px;
        margin-right: 80px;
    }

/* Using float to align image and text */
    .why-choose-img {
        float: right;
        padding-top: 20px;
        margin-left: 30px;
        width: 450px;
    }

    .why h3 {
        text-align: center;
    }

    .why h1 {
        text-align: center;
    }

    .why p {
        text-align: left;
        margin-top: 40px;
    }

    .read-more {
        float: left;
    }

    .how-its-made {
        float: left;
        padding-top: 20px;
        margin-right: 30px;
        width: 450px;
    }

    .tradition h3 {
        text-align: center;
    }

    .tradition h1 {
        text-align: center;
    }

    .tradition p {
        text-align: right;
        margin-top: 40px;
    }

    .read-more-two {
        float: right;
    }

    /* Using grid property for the section structure and flex to the inside of the section to align content and images */
    .customers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        clear: both;
    }

    .customer-header {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .customer-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 25px;
        display: flex;
        flex-direction: column;
    }

    .customer-2 {
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 25px;
        display: flex;
        flex-direction: column;
    }

    .sofia {
        width: 10rem;
        align-self: center;
    }

    .elijah {
        width: 10rem;
        align-self: center;
    }

    /* Adding styles to newsletter input field */
    .newsletter input {
        height: 100%;
        width: 600px;
        padding: 16px;
        padding-left: 35px;
    }

    /* Adding styles and positioning the newsletter button */
    .newsletter button {
        position: absolute;
        right: 400px;
    }
    .hr {
        margin-bottom: 90px;
    }

     /* using float left and right to align the social media icons and p tag on footer */
    .fa {
        float: right;
        margin-top: 15px;
    }

    footer {
        padding-top: 30px;
        text-align: left;
        padding-bottom: 70px;
        padding-right: 40px;
        background-color: #FCF4FF;
    }
    
    footer p {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 25px;
        padding-left: 40px;
        float: left;
        background-color: #FCF4FF;
    }

    /* adding styles to products page items. using grid for the structure and flex inside the boxes to align the content inside*/
    .icecream{
        align-items: center;
        flex-wrap: wrap;
    }

    .flex{
        align-items: center;
        flex-wrap: wrap;
    }
 
    .milkshake{
        align-items: center;
        flex-wrap: wrap;
    }

    .yougurt {
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #EEFFD8;
        border-radius: 15px;
        margin: 10px;
        margin-bottom: 30px;
        padding: 50px;
        align-items: center;
    }

    .popsicle {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #EEFFD8;
        border-radius: 15px;
        margin: 10px;
        margin-bottom: 30px;
        padding: 50px;
        align-items: center;
    }

    .donuts {
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #EEFFD8;
        border-radius: 15px;
        margin: 10px;
        margin-bottom: 30px;
        padding: 50px;
        align-items: center;
    }

    .product-order {
        align-self: center;
    }

    .product-order h3 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .product-order h1 {
        margin-top: 0;
        
    }
    .grid  {
        text-align: center;
    }
    /* aligning order button to bottom of the flex box */
    .order-button {
        color: white;
        margin-top: auto;
    }

    .footer-line footer {
        background-color: white;
    }

    .footer-line p {
        background-color: white;
    }

    .form {
        margin-left: 200px;
        margin-right: 200px;
    }

    input[type=submit] {
        margin: 30px 2px 40px 0px;
       
    }

    /* using grid to display content in one line in the contact page more info section */
    .more-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0px 200px 50px 200px;
        gap: 15px;
    }
    .more-info p {
        margin-top: 0;
    }
    .more-info h2 {
        margin-bottom: 7px;
    }

    .more-info ul li {
        padding-left: 0;
    }

    .phone {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 25px 25px 10px 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .address {
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 25px 25px 10px 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .hours {
        grid-column-start: 3;
        grid-column-end: 4;
        padding: 25px 25px 10px 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }









}